html, body, main, figure, img, div, h2, p, a{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    background-color: rgb(190, 190, 190);
    width: 100%;
    display: flex;
    justify-content: center;
}

main{
    width: 375px;
    height: 812px;
    background-color: #412554;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.container{
    height: 428px;
    border-radius: 20px 20px 0 0;
    background-color: white;
    display: flex;
    flex-direction: column;

}


div h2{
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-weight: 700;
    margin-top: 50px;
    color: #412554;
    text-align: center;
}

div p{
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    line-height: 29px;
    font-weight: 400;
    margin: 25px 52px 0 52px;
    color:#7D7D7D;
    text-align: center;
}

.buttonActive{
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    color: white;

    background-color: #008B52;
    margin: 50px 24px 19px 24px;
    border-radius: 5px;
    padding: 18px;

    text-align: center;
}

.buttonOutlined{
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    color: #412554;


    border: 1px solid #7D7D7D;
    background-color: #FFFFFF;
    margin: 0px 24px 19px 24px;
    border-radius: 5px;
    padding: 18px;

    text-align: center;
}

img{
    margin-top: 240px;
}



a:hover{
    filter: brightness(1.15);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
}